<!-- Tells Stimulus to create an instance of the controller class in modal_controller.js -->
<div data-controller="modal-form">
  <div class="flex items-center justify-center h-screen">
    <div class="px-6 py-6 bg-white shadow-xl ring-2 ring-gray-900/10 sm:mx-auto sm:max-w-lg sm:rounded-lg sm:px-10">
      <div class="max-w-md mx-auto">
        <div class="py-8 space-y-8">
          <button id="personalDataModalOpenBtn" data-action="click->modal-form#open_personal_data_modal" class="w-full h-12 px-6 text-white transition-colors duration-150 bg-indigo-700 rounded-lg focus:shadow-outline hover:bg-indigo-800">Personal Data</button>
          <button id="employmentModalOpenBtn"  data-action="click->modal-form#open_employment_modal" class="w-full h-12 px-6 text-white transition-colors duration-150 bg-indigo-700 rounded-lg focus:shadow-outline hover:bg-indigo-800">Employment</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Personal Data Modal -->
  <div data-modal-form-target="personalDataModal" id="personalDataModal" class="fixed top-0 left-0 flex items-center justify-center hidden w-full h-full">
    <div data-modal-form-target="personalDataModalOverlay" id="personalDataModalOverlay" class="absolute w-full h-full bg-gray-900 opacity-50"></div>

    <div data-controller="form" class="z-50 w-11/12 mx-auto bg-white rounded shadow-lg md:max-w-md">
      <!-- Modal Header -->
      <div class="px-4 py-4 bg-gray-300">
        <h2 class="text-lg font-semibold">Personal Data</h2>
      </div>

      <!-- Modal Body -->
      <div class="px-6 pt-2 pb-2 overflow-y-auto max-h-96">
        <!-- Error Div -->
        <div data-form-target="errorMessage">
          <div class="px-4 py-2 font-bold text-white bg-red-500 rounded-t">
            Error
          </div>
          <div class="px-4 py-4 text-red-700 bg-red-100 border border-t-0 border-red-400 rounded-b">
            <p>Record not saved</p>
          </div>
        </div>

        <!-- Success Div -->
        <div data-form-target="successMessage">
          <div class="px-4 py-2 font-bold text-white bg-green-500 rounded-t">
            Success
          </div>
          <div class="px-4 py-4 text-green-700 bg-green-100 border border-t-0 border-green-400 rounded-b">
            <p>Record saved</p>
          </div>
        </div>

        <!-- Tells Stimulus to create an instance of the controller class in form_controller.js -->
        <%= form_with(model: User.new, url: modal_dashboards_create_user_path, method: :post, remote: true, class: "space-y-4", id: 'user-form', data: { form_target: "userForm" }) do |form| %>
          <!-- First Name -->
          <div>
            <%= form.label :first_name, class: "block font-bold text-gray-700", data: {form_target: "firstNameLabel"} do %>
              First Name<span class="text-red-500">*</span>
            <% end %>
            <%= form.text_field :first_name, maxlength: 25, class: "block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50", required: true, data: {form_target: "firstNameInput"} %>
            <div class="invalid-feedback" data-form-target="firstNameInputError"></div>
          </div>

          <!-- Last Name -->
          <div>
            <%= form.label :last_name, class: "block font-bold text-gray-700", data: {form_target: "lastNameLabel"} do %>
              Last Name<span class="text-red-500">*</span>
            <% end %>
            <%= form.text_field :last_name, maxlength: 50, class: "block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50", required: true, data: {form_target: "lastNameInput"} %>
            <div class="invalid-feedback" data-form-target="lastNameInputError"></div>
          </div>

          <!-- Nick Name -->
          <div>
            <%= form.label :nick_name, class: "block font-bold text-gray-700", data: {form_target: "nickNameLabel"} do %>
              Nick Name<span class="text-red-500">*</span>
            <% end %>
            <%= form.text_field :nick_name, class: "block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50", data: {form_target: "nickNameInput"} %>
            <div class="invalid-feedback" data-form-target="nickNameInputError"></div>
          </div>

          <!-- Email -->
          <div>
            <%= form.label :email, class: "block font-bold text-gray-700", data: {form_target: "emailLabel"} do %>
              Email<span class="text-red-500">*</span>
            <% end %>
            <%= form.email_field :email, class: "block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50", required: true, data: {form_target: "emailInput"} %>
            <div class="invalid-feedback" data-form-target="emailInputError"></div>
          </div>

          <!-- Phone -->
          <div>
            <%= form.label :phone_number, class: "block font-bold text-gray-700", data: {form_target: "phoneLabel"} do %>
              Phone Number<span class="text-red-500">*</span>
            <% end %>
            <%= form.telephone_field :phone_number, maxlength: 25, class: "block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50", required: true, data: {form_target: "phoneInput"} %>
            <div class="invalid-feedback" data-form-target="phoneInputError"></div>
          </div>
        <% end %>
      </div>

      <!-- Modal Footer -->
      <div class="flex justify-end px-4 pt-8 pb-4">
        <button id="personalDataModalCloseBtn" class="px-4 py-2 mr-2 font-bold text-white bg-gray-500 rounded hover:bg-gray-800" type="button" data-action="click->modal-form#close_personal_data_modal">Cancel</button>
        <%= button_tag class:"px-4 py-2 ml-2 font-bold text-white bg-blue-500 rounded", data: {form_target: "userFormSubmitBtn"}, type: 'submit', form: 'user-form' do %>
          Save
        <% end %>
      </div>
    </div>
  </div>

  <!-- Employment Modal-->
  <div data-modal-form-target="employmentModal" data-form-target="employmentModal" data-employment-target="employmentModal" id="employmentModal" class="fixed top-0 left-0 flex items-center justify-center hidden w-full h-full">
    <div data-modal-form-target="employmentModalOverlay" data-form-target="employmentModalOverlay" data-form-target="employmentModalOverlay" id="employmentModalOverlay" class="absolute w-full h-full bg-gray-900 opacity-50"></div>

    <div data-controller="employment" class="z-50 w-11/12 mx-auto bg-white rounded shadow-lg md:max-w-md">
      <!-- Modal Header -->
      <div class="px-4 py-4 bg-gray-300">
        <h2 class="text-lg font-semibold">Employment</h2>
      </div>

      <!-- Modal Body -->
      <div data-modal-form-target="modalBodysDiv" data-employment-target="modalBodysDiv" class="px-4 py-4 overflow-y-auto max-h-96">
        <%= render partial: 'modal_dashboards/partials/employment_form' %>
      </div>

      <!-- Modal Footer -->
      <div class="flex justify-end px-2 pt-8 pb-4">
        <%= button_tag class:"px-4 py-2 mr-12 font-bold text-white bg-red-400 rounded hover:bg-red-500", id: "addemploymentFieldsBtn", data: {employment_target: "addemploymentFieldsBtn", action: 'click->employment#addNewEmploymentForm'}, type: 'submit' do %>
          Add Fields
        <% end %>

        <button id="employmentModalCloseBtn" class="px-4 py-2 mr-2 font-bold text-white bg-gray-500 rounded hover:bg-gray-800" data-action="click->modal-form#close_employment_modal" type="button">Cancel</button>

        <%= button_tag class:"px-4 py-2 font-bold text-white bg-blue-500 rounded", data: {employment_target: "submitAllBtn", action: 'click->employment#submitAllForms'}, type: 'submit' do %>
          Save all Records
        <% end %>
      </div>
    </div>
  </div>
</div>
